<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="h5">주문 정보</h2>
        </div>
        <div class="card-body">
            <p>주문 번호: <span th:text="${order.id}"></span></p>
            <p>주문 날짜: <span th:text="${#temporals.format(order.createdDateTime, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
            <p>총 주문 금액: <span th:text="${#numbers.formatInteger(order.totalPrice, 3, 'COMMA')}"></span>원</p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h2 class="h5">배송 정보</h2>
        </div>
        <div class="card-body">
            <p>수령인: <span th:text="${order.recipient}"></span></p>
            <p>연락처: <span th:text="${order.phoneNumber}"></span></p>
            <p>배송 주소: <span th:text="${order.address}"></span></p>
            <p>요청사항: <span th:text="${order.orderRequest ?: '없음'}"></span></p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <h2 class="h5">주문 상품</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>가격</th>
                        <th>소계</th>
                        <th>상품 주문 상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${order.orderItems}">
                        <td th:text="${item.product.name}"></td>
                        <td th:text="${item.quantity}"></td>
                        <td th:text="${#numbers.formatInteger(item.product.price, 3, 'COMMA')} + '원'"></td>
                        <td th:text="${#numbers.formatInteger(item.product.price * item.quantity, 3, 'COMMA')} + '원'"></td>
                        <td th:text="${item.status.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a th:href="@{/buyer/order/list}" class="btn btn-secondary me-2">주문 목록</a>
        <a th:href="@{/}" class="btn btn-primary">메인 페이지</a>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div>
</body>
</html>