<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>

  <div>
    <a class="btn btn-lg btn-info" href="/">메인페이지</a>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>상품이미지</th>
        <th>상품명</th>
        <th>가격</th>
        <th>재고수량</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="product : ${products}">
        <td sec:authorize="hasRole('BUYER')" >
          <a th:href="@{/buyer/products/view/{id}(id=${product.id})}" th:text="${product.id}"></a>
        </td>
        <td sec:authorize="hasRole('SELLER')" th:text="${product.id}"></td>
        <td><img th:src="${product.mainImageUrl}" alt="상품 이미지" width="150"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.stockQuantity}"></td>
        <td>
          <a sec:authorize="hasRole('SELLER')"
             href="#" th:href="@{/seller/products/{id}/edit (id=${product.id})}"
             class="btn btn-primary" role="button">수정</a>
        </td>
      </tr>
      </tbody>
    </table>
    <div th:remove="tag"
         th:with="baseUrl=${#authorization.expression('hasRole(''BUYER'')')} ?
                   '/buyer/products/list' :
                   '/seller/products/mylist'">
    <div class="pagination">
      <!-- 첫 번째 페이지 이동 -->
      <li class="page-item" th:classappend="${productPage.first} ? 'disabled'">
        <a class="page-link" th:href="@{${baseUrl}(page=0, size=${productPage.size})}">
          &laquo;&laquo;
        </a>
      </li>
      <!-- 이전 페이지 -->
      <li class="page-item" th:classappend="${productPage.first} ? 'disabled'">
        <a class="page-link" th:href="@{${baseUrl}(page=${productPage.number - 1}, size=${productPage.size})}">
          &laquo;
        </a>
      </li>
      <!-- 페이지 번호 반복 -->
      <li class="page-item" th:each="i : ${#numbers.sequence(0, productPage.totalPages - 1)}" th:classappend="${productPage.number == i} ? 'active' : ''">
        <a class="page-link" th:href="@{${baseUrl}(page=${i}, size=${productPage.size})}"
           th:text="${i + 1}">
        </a>
      </li>
      <!-- 다음 페이지 -->
      <li class="page-item" th:classappend="${productPage.last} ? 'disabled'">
        <a class="page-link" th:href="@{${baseUrl}(page=${productPage.number + 1}, size=${productPage.size})}">
          &raquo;
        </a>
      </li>
      <!-- 마지막 페이지 이동 -->
      <li class="page-item" th:classappend="${productPage.last} ? 'disabled'">
        <a class="page-link" th:href="@{${baseUrl}(page=${productPage.totalPages - 1}, size=${productPage.size})}">
          &raquo;&raquo;
        </a>
      </li>
    </div>
  </div>
</div>
  <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
