<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p>

            <a sec:authorize="!isAuthenticated()" class="btn btn-lg btn-dark" href="/login">로그인</a>
        <div sec:authorize="isAuthenticated()">
            <h4 class="mb-3" sec:authentication="name">로그인 사용자 이름</h4>
            <!--<h4 class="mb-3" sec:authentication="principal.authorities">ROLE</h4>-->
            <h4 class="mb-3" th:text="${#authentication.principal.nickname}">닉네임</h4>
            <form th:action="@{/logout}" method="post">
                <button class="w-100 btn btn-dark btn-lg" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
        </p>
        <p class="lead">회원 기능</p>
        <p>
            <a sec:authorize="!isAuthenticated()"
               class="btn btn-lg btn-secondary" href="/members/form">회원 가입</a>
            <a sec:authorize="hasRole('ADMIN')"
               class="btn btn-lg btn-secondary" href="/admin/members">회원 목록</a>
        </p>
        <p class="lead">상품 기능</p>
        <p>
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-lg btn-dark" href="/admin/products/categoryList">카테고리 등록</a>
            <a sec:authorize="hasRole('SELLER')" class="btn btn-lg btn-dark" href="/seller/products/new">상품 등록</a>
            <a sec:authorize="hasRole('SELLER')" class="btn btn-lg btn-dark" href="/seller/products/mylist">상품 목록</a>
            <a sec:authorize="hasRole('BUYER')" class="btn btn-lg btn-dark" href="/buyer/products/list">상품 목록</a>
            <a sec:authorize="hasRole('BUYER')" class="btn btn-lg btn-dark" href="/buyer/cart/list">장바구니 목록</a>
        </p>
        <p class="lead">주문 기능</p>
        <p>
            <a sec:authorize="hasRole('BUYER')" class="btn btn-lg btn-info" href="/buyer/order/list">주문 목록</a>
            <a sec:authorize="hasRole('SELLER')" class="btn btn-lg btn-info" href="/seller/order/list">주문 목록</a>
        </p>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div> <!-- /container -->

</body>
</html>
